.homePage{
    padding-top: 210px;
    background: #2E8BC0;
    font-size: 78px;
    width: 100%;
    height: 100%;
    color: aliceblue;
    font-style: italic;
    align-items: unset;
    padding: 245px;
}