<div class="applicationPage">
    <output class="appName"> Application Name: </output>
    <select #sel1 name="applications" (change)="changed(sel1.value)" class="rounded-inputs20 select-select col-md-3">
        <option class="dropdown-item" disabled selected value="undefined">Select an Application</option>
        <option *ngFor="let app of applications" [value]="app">{{app}}</option>

    </select>
</div>

<ag-grid-angular *ngIf="onChangeEvent"
    style="width: 100%; height: 70%;margin-top: 25px;padding-left: 5px;padding-right: 5px;" class="ag-theme-alpine"
    [columnDefs]="columnDefs" [rowData]="rowData" autoSizeColumns=true [pagination]=true [defaultColDef]="defaultColDef"
    (gridReady)="onGridReady($event)" (modelUpdated)="modelUpdated($event)"
    (firstDataRendered)="onFirstDataRendered($event)" suppressSizeToFit=true
    [skipHeaderOnAutoSize]=true></ag-grid-angular>